Repository SSAFY-10th/algorithm, pull requests merged in 2023-09, with the labels that each got.

#63 [cpp] 7차 Softeer 정기 역량 진단 1번 문제 - 자동차 테스트
  seoul_21_minjaekim/Softeer/HSAT_7th/1/HSAT_7th_1.cpp
  seoul_21_minjaekim/Softeer/HSAT_7th/1/README.md
Labels: #HashTable, Softeer, #Binary Search

#57 [cpp] 백준 13907. 세금 (Platinum IV) (민코딩 다익스트라의 탑 2번. 통행)
  seoul_21_minjaekim/BoJ/Platinum IV/boj13907/README.md
  seoul_21_minjaekim/BoJ/Platinum IV/boj13907/boj13907.cpp
Labels: #DP, 백준, 민코딩, #Dijkstra

#64 [cpp] 7차 Softeer 정기 역량 진단 2번 문제 - 순서대로 방문하기
  seoul_21_minjaekim/Softeer/HSAT_7th/2/HSAT_7th_2.cpp
  seoul_21_minjaekim/Softeer/HSAT_7th/2/README.md
Labels: #DFS, #BackTracking, Softeer

#65 [JAVA] 백준 17114 - 하이퍼 토마토 - Gold 1
  seoul_09_kyoohyunkim/BOJ/Gold I/boj  17114/Boj_17114.java
  seoul_09_kyoohyunkim/BOJ/Gold I/boj  17114/README.md
Labels: 백준, #BFS
